APScheduler==3.6.3
cachetools==4.2.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
flake8==6.0.0
idna==3.6
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.2
pluggy==1.4.0
pycodestyle==2.10.0
pyflakes==3.0.1
PyPDF2==3.0.1
pytest==7.3.1
pytest-dependency==0.5.1
pytest-mock==3.10.0
python-dotenv==0.21.1
python-telegram-bot==13.7
pytz==2024.1
requests==2.31.0
setuptools==69.1.0
six==1.16.0
tornado==6.4
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.18
vk-api==11.9.9
